*{
    margin:0;
    
}

.top-banner{
    background-color: rgb(18, 18, 18);
    color:white;
    text-align:center;
    padding: 13px;
    font-size: 16px;
    border-bottom: solid 1px;
    border-color: rgb(54, 53, 52);
    display: flex;
    justify-content: center;

    
    

}
.top-banner:hover{
background-color:rgb(31, 31, 29);
}

.nav-bar{
    background-color: rgb(18, 18, 18);
    color:white;
    display:flex;
   justify-content: space-between;
    text-align: center;
    padding:32px;
    position: sticky;
    top:0;
}
.logo{
    width:120;
    height:20;
    font-size:30px;
    padding-left:30px;
    margin-top: 9px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.nav-links{
    display:flex;
    gap:1px;
    
    
}
.nav-links a{
    color:rgb(152, 151, 151);
    text-decoration:none;
    font-size: 18px;
    font-family:'poppins',sans-serif;
    padding-left:33px;
    padding-top:18px;

    
}
.nav-links .nl1{
    text-decoration:underline;
    color:white
}
.nav-links .nl2:hover{
    text-decoration:underline;
    color:white;
}
.nav-links .nl3:hover{
    text-decoration:underline;
    color:white;
}
.nav-links .nl4:hover{
    text-decoration:underline;
    color:white;
}



.icons span{
    margin-left:15px;
    font-size:20px;
    cursor:pointer;
}
.product img{
    display: flex;
    height: 450px;
    width:423px;
    margin-left:50px;
    margin-top:39px;
    
}
.product{
    display:flex;
    margin-left:40px;
    
}
.av{
    display:flex;
    
}
.logu{
    width:50%;
    height: 35px;
}
.icons{
    margin-right: 30px;
    display:flex;
    gap:20px;
}
.gopu{
    width:50%;
    height:35px;
    margin-top: 5px;
}
.img3{
width:500px;
height:100%;
margin-left:50px;
padding-top:100px;

}
.nav-last{
    display:flex;
}
.manushyan{
    width:480px;
    margin-left:67px;
    margin-top:94px;
}
.textown{
    margin-left:78px;
    margin-top: 180px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200;
}
.textown1{
    margin-left:20px;
}
.textown1{
    font-size:25px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left:70px;
    color: rgb(87, 84, 84);
}
.about-button{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:24px;
    /* height:50px; */
    width:auto;
padding:20px 40px;
border-radius: 1px solid black;
border-top: 1px solid black;
margin-left:70px;
margin-top: 50px;
/* margin-left:70px;
margin-top:30px; */

    
}
.footer-content{
    margin-bottom:30px;

}
.contact-section h2{
    font-size: 20px;
    margin-bottom: 15px;
    

}
.contact-section a{
    color:#333;
    text-decoration: underline;

}
.social-icon img{
    margin-top: 20px;
    width:25px;
    height:25px;
    
}
.logoimg{
    width:30px;
}
.site-footer{
   
    display: flex;
    flex-direction: column;

    align-items: center;
    gap:25px;
    background-color: rgb(18, 18, 18);
    color: white;
    padding-top:55px;
    margin-top:100px;
      padding-bottom: 100px;
     border-bottom: 1px solid rgb(34, 34, 34);
     
     
    
   
}
.site-footer p{
    color: rgb(179, 176, 176);
    font-size:20px;
    gap:1px;
    display:flex;
    flex-direction: column;
    font-size: 22px;
    
    
}
.site-footer a{
   color:rgb(179, 176, 176);
}
.site-footer p:hover{
    color: white;

}
.site-footer a:hover{
    color: white;

}
.site-footer h3 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 21px;
    letter-spacing: 1px;
   
    /* padding-top: 110px; */
    

}
.site-footer img{
    padding-top: 30px;
}
.bottom-footer{
    display:flex;
    background-color: rgb(18, 18, 18);
    padding-top: 70px;
    padding-bottom: 50px;
    padding-left: 60px;
    color: rgb(210, 210, 210);
    font-family: Arial, Helvetica, sans-serif;
    

}
.bottom-footer ul{
    display:flex;
    gap:20px;
    font-weight:lighter;
}
.ho:hover {
    text-decoration: underline;
    color: white;

}
.arrow{
width: 20px;
height:20px;



}
.arrow-main{
 margin-left: 10px;
}
.text-b{
font-family: Arial, Helvetica, sans-serif;
word-spacing:5px;
}




